/* Feuille de style complémentaire pour Bootstrap */

.myConteneur {
    background-color: cadetblue;
}

[class*="col"] {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
}