@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
}

h2, h3 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0 0 2rem 0;
}

p {
	text-align: justify;
	margin: 1rem 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../pics/tontons.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* WRAPPER */

#wrapper {
    background-color: rgba(255,255,255,0.7);
    /* height: 100%; */
}

#wrapper>* {
    margin: 0 0 2rem 0;
}

/* EN-TETE INDEX */

#myheader {
    display: flex;
}

#myheader>div {
    text-align: center;
}

#logo {
    width: 20%;
}

#logo img {
    width: 5rem;
}

#name {
    width: 80%;
}

@keyframes neon {
    from {
        text-shadow: 0 0 1rem blanchedalmond;
    }
    20% {
        text-shadow: 0 0 1rem burlywood;
        transform: rotate(5deg);
    }
    40% {
        text-shadow: 0 0 1rem coral;
    }
    60% {
        text-shadow: 0 0 1rem darkkhaki;
        transform: rotate(0);
    }
    80% {
        text-shadow: 0 0 1rem cornsilk;
    }
    to {
        text-shadow: 0 0 1rem floralwhite;
        transform: rotate(-5deg);
    }
}

#name h1 {
    height: 5rem;
    line-height: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    animation: neon 5s infinite alternate;
	font-size: 5rem;
}

/* MENU */

#menu .items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu .items a {
    text-decoration: none;
    border: maroon groove .25rem ;
    color: maroon;
    background-color: cornsilk;
    box-shadow: 0 0 1rem gray;
    padding: .5rem;
    transition: all .3s ease-in-out;
}

#menu .items a:hover {
    border: cornsilk groove .25rem ;
    color: cornsilk;
    background-color: maroon;
}

/* TEAM MEMBERS */

#emps {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.emp {
    text-align: center;
    width: 200px;
    height: 250px;
}

.member {
    border-style: ridge;
    border-width: .75rem;
    border-radius: 50%;
    width: 150px;
    transition: all 1s;
}

.member:hover {
    border-color: black;
    /* width: calc(150px*1.1); */
    /* transform: scale(1.1); */
    transition: all 1.5s ease-in-out;
}

.girl {
    border-color: pink;
}

.girl:hover {
    transform: scale(1.1) rotate(-750deg);
}

.boy {
    border-color: blue;
}

.boy:hover {
    transform: scale(1.1) rotate(750deg);
}

/* MULTIMEDIA */

#media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#media .interview {
    width: 30%;
}

#conv {
    width: 100%;
}

#media audio {
    width: 100%;
}

/* FOOTER */

#bottom {
    background-color: #000;
    color: #fff;
}

#bottom ul {
    list-style-type: none;
    padding: 0;
}

#bottom .level1 {
    display: flex;
    justify-content: center;
}

#bottom .level1>li {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left : dotted #fff .25rem;
}

#bottom h2 {
    font-variant: small-caps;
}

#bottom a {
    color: #fff;
    text-decoration: none;
}

/* FORM */

form div {
    margin: .5rem 0;
}

form div>*:first-child {
    display: inline-block;
    width: 25%;
    font-weight: bold;
    text-align: right;
}

